@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-left { animation: fadeInLeft 0.8s ease-in-out forwards; }
.fade-in-right { animation: fadeInRight 0.8s ease-in-out forwards; }
.fade-in-top { animation: fadeInTop 0.8s ease-in-out forwards; }
.fade-in-bottom { animation: fadeInBottom 0.8s ease-in-out forwards; }

